@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hakkımda</h2>
<br />
<label style="font-weight:500">
    Ben Ahmet Yasin Burul. Üsküdar Üniversitesi'nde
    Yazılım Mühendisliği (İngilizce) 3. sınıf öğrencisiyim.
    Yaklaşık iki buçuk senedir C# & .NET Teknolojileri ve MsSQL ile çeşitli
    projeler geliştiriyorum. Hakkımda daha detaylı bilgiyi
    Linkedn adresimden öğrenebilirsiniz.
    <br />
    <br />
    <a href="https://www.linkedin.com/in/ahmet-yasin-burul-325ba2179/?originalSubdomain=tr" style="font-style:italic;color:blue">Linkedn Adresim</a>
</label>