@model MvcOkulYS.Models.EntityFramework.TBL_NOTLAR
@{
    ViewBag.Title = "YeniSinav";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        <form method="post" class="form-group">
            <div class="form-group">
                <label>Öğrenci</label>
                @Html.DropDownListFor(m => m.TBL_OGRENCILER.OGRID, (List<SelectListItem>)ViewBag.vl, new { @class = "form-control" })
            </div>
            <div style="margin-top:10px">
                <label>Ders Adı</label>
                @Html.DropDownListFor(m => m.TBL_DERSLER.DERSID, (List<SelectListItem>)ViewBag.vl2, new { @class = "form-control" })
            </div>
            <div style="margin-top:10px">
                <label>Sınav 1</label>
                <input type="text" class="form-control" name="SINAV1" />
            </div>
            <div style="margin-top:10px">
                <label>Sınav 2</label>
                <input type="text" class="form-control" name="SINAV2" />
            </div>
            <div style="margin-top:10px">
                <label>Sınav 3</label>
                <input type="text" class="form-control" name="SINAV3" />
            </div>
            <div style="margin-top:10px">
                <label>Proje</label>
                <input type="text" class="form-control" name="PROJE" />
            </div>
            <div style="margin-top:10px">
                <label>Ortalama</label>
                <input type="text" class="form-control" name="ORTALAMA" />
            </div>
            <div style="margin-top:10px">
                <label>Durum</label>
                <input type="text" class="form-control" name="DURUM" />
            </div>
            <div style="margin-top:10px">
                <button class="btn btn-primary">Sınav Ekle</button>
            </div>
        </form>
    </div>

